
/*********/
/* GENERAL */

body {
  color:rgb(120, 185, 80);
}

hr {
  color:rgb(120, 185, 80);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.menu{
  margin-left: 3em;
}



/*******/
/* ACCUEIL */

.alert-info{
  margin-top: 5em;
  margin-bottom: 5em;
}

.nav-link{
  color: rgb(120, 185, 80);
  font-weight: bold;
}
.tab-content{
  margin-top : 2em;
}



/*******/
/* TOPIC LIST */

#filtres{
  margin-top:3em;
}

.btn-primary{
  background-color : white;
  border-color:rgb(120, 185, 80);
  border-radius: 0px;
  border-width: 2px;
  color : rgb(120, 185, 80);
}
.btn-primary:hover{
  background-color : rgb(120, 185, 80);
  border-color : rgb(120, 185, 80);
  color : white;
}
.btn-primary:active{
  background-color : rgb(120, 185, 80);
  border-color : rgb(120, 185, 80);
  color : white;
}

.dropdown-menu{
  background-color:white;
  border-radius: 0px;
  top: -3px;
  left: 0px;
}
.dropdown-item{
  color:rgb(120, 185, 80);
  text-align:center;
}
.dropdown-item:hover{
  background-color:rgb(120, 185, 80);
  color:white;
}
.dropdown-item:first-child{
  background-color:rgb(120, 185, 80);
  color:white;
  padding-top:0px;
}
.dropdown-item:last-child{
  background-color:rgb(120, 185, 80);
  color:white;
  padding-bottom:0px;
}

#topic-list{
  margin-top:3em;
}

.topic{
  border-radius: 0px;
  border-width: 2px;
  border-bottom: 0px;
  border-style: solid;
  color: rgb(120, 185, 80);
  width : 90%;
  height : 10%;
}
.topic:last-child{
  border-radius: 0px;
  border-width: 2px;
  border-style: solid;
  color: rgb(120, 185, 80);
  width : 90%;
  height : 10%;
}
.topic>a{
  color : rgb(120, 185, 80);
}
